//
// Hero Section
//==================================

.section--hero {

  @media screen and (min-width: $full-layout--screen) {
    min-height: 80vh;
    margin-bottom: 20vh;
  }

  @media screen and (min-width: 1280px) {
    min-height: 80vh;
  }

  .hero {
    width: 100%;
    margin: 0 auto 20px;

    @media screen and (min-width: $full-layout--screen) {
      padding-top: 0;
    }

    .wrap {
      background-color: $background--accent-color;

      @media screen and (min-width: $full-layout--screen) {
        background-color: transparent;
        background: linear-gradient(rgba(235, 235, 235, 0.88) 100%, $background--accent-color),
                    url(#{$imagePath}/background.jpg) top center repeat;

        min-height: 60vh;
        padding: 20vh 10vh;

        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  h1, h2, h3, h4, p {
    text-align: center;
  }

  h1 {
    color: $green;
    @media screen and (min-width: $full-layout--screen) {
      font-size: calc(40px + (50 - 40) * ((100vw - 768px) / (1200 - 768)));
    }
  }

  h2 {
    color: $orange;
    font-weight: 600;

    @media screen and (max-width: 480px) {
      font-size: 16px;
    }

    span {
      color: $darkBlue;
    }
  }
}
