//
// Hero Section
//==================================

.section--hero {
  padding-top: 0;

  @media screen and (min-width: $full-layout--screen) {
    padding-top: 20px;
  }

  .hero {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: $full-layout--screen) {
      padding-top: 40px;
    }

    .wrap {
      background-color: $background--accent-color;

      @media screen and (min-width: $full-layout--screen) {
        background-color: transparent;
        background: linear-gradient(rgba(235, 235, 235, 0.88) 100%, $background--accent-color),
                    url(#{$imagePath}/background.jpg) top center repeat;

        padding: 12vh 10vh;

        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  h1, h2, h3, h4, p {
    text-align: center;
  }

  h1 {
    color: $green;
    @media screen and (min-width: $full-layout--screen) {
      font-size: calc(40px + (50 - 40) * ((100vw - 768px) / (1200 - 768)));
    }
  }

  h2 {
    font-weight: 600;

    @media screen and (max-width: 480px) {
      font-size: 16px;
    }
  }

  h2, h3 {
    color: $orange;
    span {
      color: $darkBlue;
    }
  }
}
