.hero {
  margin: 0 -50vw;
  padding: 0 50vw;
  overflow: hidden;

  background-color: transparent;
  background: linear-gradient(rgba(255, 255, 255, 0.82) 100%, $white),
              url(#{$imagePath}/tonyamork-4quad.png) top left repeat;

  .wrap {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    padding: 0;

    @media screen and (min-width: $full-layout--screen) {
      padding: 12vh 10vh;
    }

    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-title {
    text-align: center;
    color: $green;
    font-size: calc(40px + (50 - 40) * ((100vw - 768px) / (1200 - 768)));
    transform: scaleY(2);
    transform-origin: 0 0;
    margin-top: 0;
  }
}
