$grid-box--background: $background--accent-color;

//==============================================================================
// Half background grid boxed
// 50% of the grid-block has a background color applied to it.
//==============================================================================

.grid-boxed.--half-background {

  .grid-block {
    border: none;
  }

  &:not(.--checkered) {
    .grid-block {
      background: linear-gradient(270deg,$white 0,$white 50%,$grid-box--background 0,$grid-box--background);
    }

    &.--row-reverse {
      .grid-block {
        background: linear-gradient(90deg,$white 0,$white 50%,$grid-box--background 0,$grid-box--background);
      }
    }
  }

  // Checkered

  &.--checkered:not(.--row-reverse) {
    .grid-block {
      &:nth-child(2n+1) {
        background: linear-gradient(270deg, $white 0, $white 50%, $grid-box--background 0, $grid-box--background);
        @media screen and (min-width: $full-layout--screen) {
          padding-right: 20%;
        }
      }

      &:nth-child(2n) {
        background: linear-gradient(90deg, $white 0, $white 50%, $grid-box--background 0, $grid-box--background);
        text-align: right;
        @media screen and (min-width: $full-layout--screen) {
          padding-left: 20%;
        }
      }
    }
  }

    &.--row-reverse {
      .grid-block {
        &:nth-child(2n+1) {
          background: linear-gradient(90deg,$white 0,$white 50%,$grid-box--background 0,$grid-box--background);
          text-align: right;
          @media screen and (min-width: $full-layout--screen) {
            padding-left: 20%;
          }
        }

        &:nth-child(2n) {
          background: linear-gradient(270deg,$white 0,$white 50%,$grid-box--background 0,$grid-box--background);
          @media screen and (min-width: $full-layout--screen) {
            padding-right: 20%;
          }
        }
      }
    }
}