.hero-intro {
  margin-top: 100px;
  position: relative;

  &:not(.--quote) {
    h2 {
      font-weight: 600;

      @media screen and (max-width: 480px) {
        font-size: 16px;
      }
    }

    h2, h3 {
      text-align: center;
      color: $orange;
      span {
        color: $darkBlue;
        padding: 0 10px;
      }
    }
  }

  &.--quote {
    text-align: left;
    padding: 20px;
    background-color: rgba(235,235,235,0.7);
    display: inline-block;

    p {
      @media screen and (min-width: $medium-screen) {
        font-size: 28px;
      }
      margin-bottom: 0;

      &::before {
        content: '\f10d';
        font-family: FontAwesome;
        font-size: 30px;
        position: absolute;
        top: -20px;
        left: -5px;
        color: $darkBlue;
        font-weight: 100;
      }
    }

    .fa {
      margin-top: -10px;
      color: $background--accent-color;
    }
  }
}
