.scroll {

  // Container.
  &-up {
    padding: 0;
    height: 50px;
    margin-bottom: 10px;
    transition: transform 0.5s cubic-bezier(0.55,0.055,0.675,0.19);
  }

  // Triangle button.
  &--up {
    padding: 0;
    outline: none;
    opacity: 0;
    border-top: 0;
    margin-top: -33px;

    &.slideInUp {
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-bottom: 18px solid $sidebar--color;
    }

    &:hover {
      border-bottom: 18px solid $orange;
    }
  }
}

html[amp] .scroll--up {
  background-color: transparent;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid $sidebar--color;

  &:hover {
    border-bottom: 18px solid $orange;
  }
}
