$hamburgerSpacing: 8px;

.hamburger--menu {
  position: absolute;
  top: 40px;
  right: 0;
  width: 60px;
  height: 40px;

  @media screen and (min-width: $full-layout--screen) {
    left: 30px;
    right: 0;

    &.hamburger-menu--mobile {
      display: none;
    }
  }

  cursor: pointer;
  z-index: 10001;
  transform: translate(0, -20px);
  border-bottom: none;

  @media screen and (min-width: 800px) {
    width: 80px;
  }
}

.hamburger-button {
  &, &:hover, &:focus, &:active {
    border: 0;
    background-color: transparent;
    outline: 0;
  }

  &:hover, &:focus, &:active {
    color: $green;
    transform: scale(1.5);
  }
}
