.entry-content {

  ul.columns {
    width: 100%;
    list-style-type: none;
    margin-bottom: 0;

    li {
      margin-left: 0;
    }

    > li {
      list-style-type: none;
    }
  }
}

.columns {
  width: 100%;

  &.--boxed {
    @include flexgrid();
  }
}

.--middle-border {
  background: linear-gradient(to right,
          transparent 0%,
          transparent calc(50% - 0.81px),
          $sidebar--color calc(50% - 0.8px),
          $sidebar--color calc(50% + 0.8px),
          transparent calc(50% + 0.81px),
          transparent 100%);
}
