.column {
  border: 1px solid $column--background;
  padding: 20px;
  min-height: 300px;

  // Center the text within the block.
  display: flex;
  flex-direction: column;
  justify-content: center;

  p, & {
    margin-bottom: 0;
  }
}

dt.column, .column.boxed-callout {
  background-color: $column--background;
  font-size: calc(20px + (30 - 20) * ((100vw - 400px) / (1200 - 400)));
}

