.inpost {
  padding: 20px;
  border: 10px dotted $background--accent-color;

  @media screen and (min-width: 768px) {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .widget {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;

      &:last-child {
        margin-right: 0;
      }

      &:nth-child(2) {
        margin-right: 0;
      }
    }
  }
}
