.section {
  position: relative;
  padding-top: 5vh;

  @media screen and (min-width: $full-layout--screen) {
    padding-top: 20vh;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 20vh;
  }
}
