$hamburgerSpacing: 8px;

.hamburger--menu {
  position: absolute;
  top: 20px;
  right: 30px;

  // Align the label and button.
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-label {
  font-size: 14px;
}

.hamburger-button {
  font-size: 24px;

  &, &:hover, &:focus, &:active {
    border: 0;
    background-color: transparent;
    outline: 0;
  }

  &:hover, &:focus, &:active {
    color: $green;
    transform: scale(1.5);
  }
}
