$hamburgerSpacing: 8px;

.hamburger--menu {
  margin: 40px auto 0;
  text-align: center;

  @media screen and (min-width: $full-layout--screen) {
    &.hamburger-menu--mobile {
      display: none;
    }
  }

  z-index: 99;
  transform: translate(0, -20px);
}

.hamburger-label {
  font-size: 14px;
}

.hamburger-button {
  font-size: 24px;
  width: 100%;

  &, &:hover, &:focus, &:active {
    border: 0;
    background-color: transparent;
    outline: 0;
  }

  &:hover, &:focus, &:active {
    color: $green;
    transform: scale(1.5);
  }
}
