/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

.wrap {
	margin: 0 auto;
	padding: 0 5%;
	max-width: 90%;
	word-wrap: break-word;

	@media screen and (min-width: $full-layout--screen) {
		max-width: 80%;
		padding: 0;
	}

	@media screen and (min-width: $medium-screen) {
		max-width: 100%;
	}
}

.site-inner {
	padding-top: 30px;

	body.single & {
		padding-top: 120px;
	}
}

.content-sidebar-wrap {
	margin: 0 auto;
	max-width: 100%;

	@media screen and (min-width: $full-layout--screen) {
		margin-top: 20px;
	}

	@media screen and (min-width: 1200px) {
		max-width: $max-width;
		margin-top: 60px;
	}
}
