//
// Breakpoints
//===================================

$large-desktop: 1680px;
$desktop: 1366px;
$tablet-landscape: 1024px;
$tablet-portrait: 768px;
$phone-landscape: 640px;
$phone-portrait: 360px;

$full-layout--screen: 768px;

// Global Screen Sizes
//------------------------------------------------------------------------------
$smallest-screen: 320px;
$smaller-screen: 480px;
$small-screen: 760px;
$medium-screen: 1023px;
$large-screen: 1180px;
$huge-screen: 1600px;
