//
// Fullpage Title Areas
//========================

.fullpage-title {
    h1, h3, h3, p, & {
      color: $green;
      font-weight: 100;
    }

    body.blog &, body.archive & {
        margin-bottom: 60px;
    }
}
