//==============================================================================
// Half background boxed column
// 50% of the column has a background color applied to it.
//==============================================================================

.--half-background {

  .column {
    border: none;
  }

  // Not checkered.
  &:not(.--checkered) {
    .column {
      background: linear-gradient(270deg,$white 0,$white 50%,$column--background 0,$column--background);
    }

    &.--row-reverse {
      .column {
        background: linear-gradient(90deg,$white 0,$white 50%,$column--background 0,$column--background);
      }
    }
  }

  // Checkered
  &.--checkered:not(.--row-reverse) {
    .column {
      &:nth-child(2n+1) {
        background: linear-gradient(270deg, $white 0, $white 50%, $column--background 0, $column--background);
        @media screen and (min-width: $full-layout--screen) {
          padding-right: 20%;
        }
      }

      &:nth-child(2n) {
        background: linear-gradient(90deg, $white 0, $white 50%, $column--background 0, $column--background);
        text-align: right;
        @media screen and (min-width: $full-layout--screen) {
          padding-left: 20%;
        }
      }
    }
  }

  // Reverse.
  &.--row-reverse {
    .column {
      &:nth-child(2n+1) {
        background: linear-gradient(90deg,$white 0,$white 50%,$column--background 0,$column--background);
        text-align: right;
        @media screen and (min-width: $full-layout--screen) {
          padding-left: 20%;
        }
      }

      &:nth-child(2n) {
        background: linear-gradient(270deg,$white 0,$white 50%,$column--background 0,$column--background);
        @media screen and (min-width: $full-layout--screen) {
          padding-right: 20%;
        }
      }
    }
  }
}
