.fullpage-menu-container {
  opacity: 0;
  width: 100%;
  position: fixed;
  display: block;
  top: 0;
  overflow: auto;
  right: 0;
  z-index: 99;
  background-color: $white;
  color: $darkBlue;

  .wrap {
    max-width: 90%;
    width: 90%;
    padding-top: 40px;
  }

  h2, p, & {
    text-align: left;
  }

  h2 {
    background-color: $background--accent-color;
    padding: 10px;
    color: $darkBlue;
  }

  p {
    margin-left: 20px;
  }
}

.fullpage-menu--close {
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: transparent;
  color: $black;
  font-size: 36px;
  border: 0;
  outline: 0;
}

body.menu--open .menu--container {
  opacity: 1;

  @media screen and (min-width: $full-layout--screen) {
    width: 80%;
  }

  @media screen and (min-width: $full-layout--screen) {
    right: 100px;
  }

  .menu--item--home {
    margin-bottom: 30px;
  }
}
