//
// Background Text
//====================================

.background--text-top {
  font-size: 36px;
  text-transform: lowercase;

  font-family: $playfair;
  z-index: 0;

  color: $background--accent-color;
  text-align: right;
  font-weight: 900;
  line-height: 1;
}

.background--text-top {
  margin-bottom: 20px;
}

@media screen and (min-width: $full-layout--screen) {
  .background--text-top {
    font-size: calc(40px + (70 - 40) * ((100vw - 768px) / (1200 - 768)));
  }

  .background--text-top {
    font-family: $playfair;
    z-index: 0;

    color: $background--accent-color;
    text-align: left;
    font-weight: 900;
    line-height: 1;

    text-align: right;
    margin-top: -20px;
    margin-right: -10px;

    @media screen and (min-width: $large-screen) {
      margin-top: -90px;
      margin-right: -90px;
    }
  }
}
