.adjectives-section {
  position: relative;
  margin: 30px auto;
  width: 100%;

  // Set up the distribution.
  column-count: 2;
  column-gap: 0;

  @media screen and (min-width: $full-layout--screen) {
    column-count: 3;
  }

  @media screen and (min-width: $large-screen) {
    column-count: 7;
  }
}

.adjective-section,
.entry-content {

  ul.adjectives {
    list-style-type: none;
    width: 100%;
    box-sizing: border-box;
    padding: 5vh 0;
    margin: 0 auto;
  }

  ul.adjectives li {
    margin-left: auto;
  }

  ul.adjectives > li {
    display: inline-flex;
    list-style-type: none;
  }
}
